@model ResumeAnalyzerMVC.Requests.ContactFormRequest

@{
    ViewData["Title"] = "Contact Form";
}
<link rel="stylesheet" href="~/css/contactForm.css">

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<h2>Contact Us</h2>

<section id="contact" class="contact">
    <form asp-controller="ContactForm" asp-action="SendForm" method="post" class="contact-form">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="Your Name" required />

            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" placeholder="Your Email" required />

            <label asp-for="Message"></label>
            <textarea asp-for="Message" class="form-control" placeholder="Your Message" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send Message</button>
    </form>

</section>
