<h1>Welcome to Our Software Company!</h1>
@if (ViewBag.IsLoggedIn)
{
    <a href="/Resume/Apply"><button>Apply Now</button></a>
}
else
{
    <a href="/Auth/Login"><button>Login to Apply</button></a>
}
hi